{:allowed-branchname-matches ["^master$" "acrolinx-check-settings"]
 :allowed-filename-matches ["mr-docs"]
 :acrolinx-check-settings
 {
  "languageId" "en"
  "ruleSetName" "Standard"
  "requestedFlagTypes" ["SPELLING" "GRAMMAR" "STYLE"
                        "TERMINOLOGY_DEPRECATED"
                        "TERMINOLOGY_VALID"
                        "VOICE_GUIDANCE"
                        ]
  "termSetNames" ["BAG"]
 }
}
